<h1> <%= @category.name %> </h1>
<ul>
  <% @quizzes.each do |quiz| %>
    <li>
      <%= quiz.name %> -------- <%= quiz.objective %>
    </li>
  <% end %>
</ul>


<div id = 'putItHere'></div>

<script>
  var myQuizMap = new QuizMap(25);
  <% @quizzes.each do |quiz| %>
    myQuizMap.addQuiz("<%= quiz.name %>", <%= quiz.level %>)
  <% end %>
  myQuizMap.drawQuizMapCanvas();
</script>
